name: Deploy Production

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    # FLAW: Expensive runner type
    runs-on: active-large-runner-gpu-optimized
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
